<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FormForSql.Properties.Settings.THUOCConnectionString"
            connectionString="Data Source=ZEPHYRUSG14\MSSQLSERVER01;Initial Catalog=THUOC;Persist Security Info=True;User ID=sa;Password=Qnvn16062001@"
            providerName="System.Data.SqlClient" />
        <add name="FormForSql.Properties.Settings.QL_THUOCConnectionString"
            connectionString="Data Source=ZEPHYRUSG14\MSSQLSERVER01;Initial Catalog=QL_THUOC;Persist Security Info=True;User ID=sa;Password=Qnvn16062001@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>